{% extends 'layout.html' %}

{% block body %}
<h1>Folder Information</h1>
<small>Welcome {{session.name}}</small>
<div></div>
<a class="btn btn-success" href="folder/add_folder">Register New Folder</a>
<hr>

<table class="table table-striped">
    <tr>
        <th>File Number</th>
        <th>MR Number</th>
        <th>Patient Name</th>
        <th>Form Status</th>
        <th>Last Update</th>
        <th></th>
    </tr>
    {% for folder in folders %}
    <tr>
        <td data-toggle="tooltip" title={{folder.folder_pk}}>{{folder.folder_number}}</td>
        <td>{{folder.mr_number}}</td>
        <td>{{folder.patient_name}}</td>
        <td>{{folder.form_status}}</td>
        <td>{{folder.last_update}}</td>
        <td><a href="folder/view_folder/{{folder.folder_pk}}" class="btn btn-primary pullright">Add Clinical Data</a>
            <a href="folder/edit/{{folder.folder_pk}}" class="btn btn-secondary pullright">Edit</a>
            <a href="folder/delete/{{folder.folder_pk}}" class="btn btn-warning pullright">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}